body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #eee;
}

.container {
    width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select {
    width: 96%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid gray;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkgreen;
}

#cart-area {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

img {
    width: 50px;
    height: 50px;
}

.del-btn {
    background-color: red;
    width: auto;
    padding: 5px 10px;
}

.del-btn:hover {
    background-color: darkred;
}